body{
    gap: 20px;
    margin: 10px 20px;
}

.container{
  height: calc(100vh - 22px);
  border: 1px solid red;
  padding: 50px;
  /* position: relative; */
}

.innerContainer{
  height: 50vh;
  border: 1px solid purple;
  position: relative;
}

.box{
  height: 50px;
  width: 50px;
  background-color: hotpink;
  position: absolute;
  top: 0;
}



