body{
    display: gird;
    gap: 20px;
    margin: 10px 20px;
}

.title{
  color: red;
}

/* kolejność odczytu */

.title2{
  color: red;
}

.title2{
  color: pink;
}

.box .title2{
  color: black;
}

body .box .title2{
  color: hotpink;
}

.container .box .title2{
  color: blue;
}

body .container .box .title2{
  color: purple;
}


.title2{
  color: brown  !important;
}

.box .title2{
  color: black !important;
}

body .box .title2{
  color: yellow !important;
}