body{
  background-color: #e391e3;
}
.container{
  display: grid;
  justify-items: center;
  font-family: 'roboto';
}

.content{
  width: 80vw;
  height: 400px;
  background-color: #fff;
  border: 3px dashed gray;
}
